## Ignore temporary files, build results

# Visual Studio cache/options directory
*.suo
*.user
*.tmp
*.cache
*.sln.docstates
*.lock.json
.vs/
src/*/*/bin
src/*/*/obj

# Visual Studio profiler
*.psess
*.vsp

# Sensitive files
*.keys
*.pfx
*.json.env
*.bicep.env